{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Molimo unesite (i potvrdite) vašu novu lozinku.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova lozinka:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Potvrdite novu lozinku:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Promijeni lozinku" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Neuspjela promjena lozinke</h1>
        <p>Molimo zatražite novi zahtjev za promjenu lozinke. Poveznica nije ispravna.</p>
    {% endif %}

{% endblock %}